<h4 style='text-align: center'>Day 2</h4>
<button class="btn btn-info" id="add-day">Add Day</button><button class="btn btn-warning" id="remove-day">Remove Day</button>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <ul class='nav nav-pills' id='days'>
        <li id="day1" class="active"><a href="#tab1" data-toggle="tab">One</a></li>
    </ul>
  </div>
  <div class='panel-body' id='trip-itinerary'>
      <div id="tab1">
          Hotels
          <ul class='hotels-list'>
          </ul>
          Restaurants
          <ul class='restaurants-list'>
          </ul>
          Activities
          <ul class='activities-list'>
          </ul>
      </div>
  </div>
</div>
